body {

    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background: linear-gradient(to bottom, #ff0e9b, #106feb);
    background-size: 200% 200%;
    background-position: right;

}

#calculator {

    width: 90vw;
    max-width: 500px;
    background-color: rgb(119, 171, 231);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    box-shadow: -10px 10px 30px 5px rgba(0, 0, 0, 0.3);
}

#display {
    box-shadow: -10px 10px 30px 5px;
    box-shadow: #534496;
    width: 100%;
    padding: 1.2rem;
    font-size: clamp(2rem, 6vw, 5rem);
    text-align: left;
    border: none;
    background-color: #534496;
    color: aliceblue;
}



#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1.5rem;
}

button,button:focus{
    box-shadow: 5px 10px 10px 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 20%;
    border: none;
    background-color: #b0f7f7;
    color: rgb(65, 18, 236);
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 5px 10px 10px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;

    outline: none;

}

button {
    transition: all 0.1s ease;
}

button:focus {
    outline: none;
    box-shadow: 5px 10px 10px 8px rgba(0, 0, 0, 0.2);

}

button:hover {
    background-color: #abcbd8;
}

button:active {

    transform: scale(0.90);
    background-color: #b0f7f7;
}

button {
    -webkit-tap-highlight-color: transparent;

}


.operator-btn {
    background-color: rgb(224, 222, 83);
}

.operator-btn:hover {
    background-color: rgb(255, 251, 1);
}

.operator-btn:active {
    transform: scale(0.90);
    transition: transform 0.1s ease-out;
    background-color: rgb(229, 233, 8);
}
